@media (min-width: 768px) and (max-width: 991.98px){
    main{
        background-color: $light-orange;
        background-image: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    main{
        background-color: $light-orange;
        background-image: none;
    }
    .h2-0-100, .h2-pro-maths {
    padding-top: 50px;
    }
    .h2-page-regle {
    padding-top: 0;
    }
    .text-victoire-defaite {
    font-size: 3rem;
    }
    .text-bravo-dommage {
    font-size: 1rem;
    }
    .titre-jeu {
    margin-top: -30px;
    }
}

@media (max-width: 575.98px){
    header{
        img{
            width:200px;
            height:25px;
        }
    }
    main{
        background-color: $light-orange;
        background-image: none;

        #game td{
            width:1.5cm;
            height:1.5cm;
        }
    }
    .text-victoire-defaite {
        font-size: 2.5rem;
    }
}