@font-face {
  font-family: "Game_Time";
  src: url(Game_Time.ttf);
}
main h1 {
  font-family: "Game_Time";
}
main .font-game {
  font-family: "Game_Time";
}

main {
  background-image: url(media/bg-main.jpg);
  background-size: cover;
  background-position: center;
}
main .btn {
  background-color: #08a0b8;
  color: #fdfdfc;
  font-size: 18px;
}

header {
  background-color: #d56e07;
}
header .nav-link {
  color: #08a0b8 !important;
}
header .dropdown-menu {
  background-color: #d56e07 !important;
  padding: 0;
}
header .dropdown-menu .dropdown-item {
  color: #08a0b8 !important;
  font-weight: bold;
}
header .dropdown-menu .dropdown-item:hover {
  border-radius: 50% 20%/10% 40%;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
header .nav-link:hover {
  border-radius: 50% 20%/10% 40%;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

#game table {
  border: 3px rgba(0, 0, 0, 0.3) outset;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

#game td {
  width: 2cm;
  height: 2cm;
  margin: 0px;
  padding: 0px;
  border: 2px rgba(0, 0, 0, 0.3) inset;
  border-radius: 2cm;
  background-color: white;
  cursor: pointer;
}

.jeton-rouge {
  background-color: #d56e07 !important;
}

.jeton-jaune {
  background-color: #08a0b8 !important;
}

footer {
  background-color: #d56e07;
  opacity: 0.7;
  height: 55px;
  color: black;
  font-size: 12px;
}

/*General*/
.bg-alert {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: url("media/58671-[Converti].png") no-repeat center;
  background-size: cover;
  min-height: 70vh;
  /*Textes*/
}

.bg-alert .text-bravo-dommage {
  font-size: 1.5rem;
  padding-bottom: 40px;
  margin-top: -20px;
}

/*Boutons*/
.btn-lien {
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #29B8C7;
  border: 0;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn-lien:hover {
  background-color: #151F27;
  transition-duration: 0.5s;
}

.container-buttons {
  max-width: 800px;
}

/*jeu*/
.bloc {
  background-color: rgba(21, 31, 39, 0.8);
  padding: 25px;
  border-radius: 25px;
}

.contenu-page-standard {
  max-width: 900px;
  margin-top: 150px;
}

/*Defaite*/
.bloc-rouge {
  background-color: rgba(221, 38, 39, 0.8);
}

/*animation*/
.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}

.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}

.text-victoire-defaite {
  animation: text-shadow 1.5s ease-in-out infinite;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0C2FFB, 0 0 0 #2CFCFD, 0 0 0 #FB203B, 0 0 0 #FEFC4B;
  }
  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #0C2FFB, 0 0.25em 0 #2CFCFD, 0 -0.125em 0 #FB203B, 0 -0.25em 0 #FEFC4B;
  }
  40% {
    transform: translateY(0.5em);
    text-shadow: 0 -0.0625em 0 #0C2FFB, 0 -0.125em 0 #2CFCFD, 0 0.0625em 0 #FB203B, 0 0.125em 0 #FEFC4B;
  }
  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #0C2FFB, 0 0.0625em 0 #2CFCFD, 0 -0.03125em 0 #FB203B, 0 -0.0625em 0 #FEFC4B;
  }
  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0C2FFB, 0 0 0 #2CFCFD, 0 0 0 #FB203B, 0 0 0 #FEFC4B;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  main {
    background-color: #f49737;
    background-image: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  main {
    background-color: #f49737;
    background-image: none;
  }

  .h2-0-100, .h2-pro-maths {
    padding-top: 50px;
  }

  .h2-page-regle {
    padding-top: 0;
  }

  .text-victoire-defaite {
    font-size: 3rem;
  }

  .text-bravo-dommage {
    font-size: 1rem;
  }

  .titre-jeu {
    margin-top: -30px;
  }
}
@media (max-width: 575.98px) {
  header img {
    width: 200px;
    height: 25px;
  }

  main {
    background-color: #f49737;
    background-image: none;
  }
  main #game td {
    width: 1.5cm;
    height: 1.5cm;
  }

  .text-victoire-defaite {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
